# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [ ]:

import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

     |████████████████████████████████| 43 kB 791 kB/s
     |████████████████████████████████| 11.9 MB 1.8 MB/s
  Building wheel for mysql-connector (setup.py) ... done
     |████████████████████████████████| 100 kB 2.2 MB/s


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [ ]:
df_path = "dataset_part_2.csv"
df = pd.read_csv(df_path)

In [ ]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
#Para conectar a 52.47.172.110/php
# usuario: alumno passowrd :385bd4cf713a8a36@
nombreBD = 'alexisquispe'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@52.47.172.110/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [ ]:
if not database_exists(engine.url):
    create_database(engine.url)

In [ ]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().

df.to_sql('SPACEXTBL', con = engine)

In [ ]:
query = """select * from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,Class,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,0,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,0,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,0,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857
3,3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,0,False Ocean,1,0,0,0,None,1.0,MDA,1,0,B1003,-120.610829,34.632093
4,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,0,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,85,86,2020-09-03,Falcon 9,15600.000000,Starlink-11,VLEO,KSC LC 39A,1,True ASDS,2,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1060,-80.603956,28.608058
86,86,87,2020-10-06,Falcon 9,15600.000000,Starlink-12,VLEO,KSC LC 39A,1,True ASDS,3,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,13,B1058,-80.603956,28.608058
87,87,88,2020-10-18,Falcon 9,15600.000000,Starlink-13,VLEO,KSC LC 39A,1,True ASDS,6,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1051,-80.603956,28.608058
88,88,89,2020-10-24,Falcon 9,15600.000000,Starlink-14,VLEO,CCSFS SLC 40,1,True ASDS,3,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,1,12,B1060,-80.577366,28.561857
89,89,90,2020-11-05,Falcon 9,3681.000000,GPS III SV04 (Sacagawea),MEO,CCSFS SLC 40,1,True ASDS,1,1,0,1,5e9e3032383ecb6bb234e7ca,5.0,United States Space Force,1,8,B1062,-80.577366,28.561857

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [ ]:
query = """select LaunchSite from SPACEXTBL ;"""
df  = pd.read_sql(query, con = engine )
df

      LaunchSite
0   CCSFS SLC 40
1   CCSFS SLC 40
2   CCSFS SLC 40
3    VAFB SLC 4E
4   CCSFS SLC 40
..           ...
85    KSC LC 39A
86    KSC LC 39A
87    KSC LC 39A
88  CCSFS SLC 40
89  CCSFS SLC 40

[90 rows x 1 columns]

query = """select Launch from SPACEXTBL ;"""
df  = pd.read_sql(query, con = engine )
df 
**Esto es necesario para ejecutar sql en un panda donde como se puede ver toca tener desde la query hasta df**

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [ ]:
query = """select LaunchSite from SPACEXTBL where LaunchSite like '%CCS%' order by LaunchSite DESC limit 5 ;"""
df  = pd.read_sql(query, con = engine )
df

     LaunchSite
0  CCSFS SLC 40
1  CCSFS SLC 40
2  CCSFS SLC 40
3  CCSFS SLC 40
4  CCSFS SLC 40

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [ ]:
query = """select sum(PayLoadMass) as TotalMasa from SPACEXTBL where Customers like '%NASA (CRS)%'  ;"""
df  = pd.read_sql(query, con = engine )
df

   TotalMasa
0    47094.7

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [ ]:
query = """select LaunchSite,Serial,avg(PayLoadMass) as PesoMediopoSerial from SPACEXTBL where Serial like 'B1%' group by LaunchSite  ;"""
df  = pd.read_sql(query, con = engine )
df

     LaunchSite Serial  PesoMediopoSerial
0  CCSFS SLC 40  B1004        5743.493179
1    KSC LC 39A  B1031        7644.504332
2   VAFB SLC 4E  B1003        5919.461538

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [ ]:
query = """ select Date,LandingOutcome from SPACEXTBL where LandingOutcome like '%True RTLS%' order by Date ASC limit 1;"""
df  = pd.read_sql(query, con = engine )
df

         Date LandingOutcome
0  2015-12-22      True RTLS

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [ ]:
query = """ select Serial,PayloadMass from SPACEXTBL where (LandingOutcome like '%True ASDS%') and (PayloadMass	BETWEEN 4000 and 6000) ;"""
df  = pd.read_sql(query, con = engine )
df

  Serial  PayloadMass
0  B1022       4696.0
1  B1026       4600.0
2  B1021       5300.0
3  B1031       5200.0
4  B1046       5800.0
5  B1046       4000.0
6  B1059       5000.0

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [ ]:
query = """ select CASE WHEN Class == 1 THEN Class END AS intentos_buenos,
            CASE WHEN Class == 0 THEN Class END AS intentos_fallidos,
            COUNT(intentos_buenos), COUNT (intentos_fallidos)
            FROM SPACEXTBL
            GROUP BY Class 
            HAVING NOT Class NULL ;"""
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [ ]:
query = """ select Serial, max(PayloadMass) from SPACEXTBL GROUP BY Serial ;"""
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [ ]:
query = """ select Class,Serial, LaunchSite, LandingOutcome from SPACEXTBL WHERE LandingOutCome not like '%True%' GROUP BY Class,LandingOutCome  ;"""
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [ ]:
query = """ select Flightnumber,Date,Serial from SPACEXTBL WHERE LandingOutCome not like '%True%' GROUP BY Class,LandingOutCome  ;"""
df  = pd.read_sql(query, con = engine )
df